<%- include('partials/head') %>
    </head>
    <body class="font-sans">
        <main class="bg-black/95 h-screen overflow-hidden font-bold">
            <div class="text-white w-full h-full text-4xl p-5 justify-center flex items-center">
                <h1><span class="text-blue-300">404</span> Page Not Found!</h1>
            </div>
        </main>
    </body>
</html>